.header {
	padding: 30px;
  }
  
  .background {
	background-color: #7A9CC6;
  }
  
  .white {
	color: #ffffff;
  }
  
  .time {
	display: flex;
	font-family: 'Press Start 2P', cursive;
  }
  
  .game {
	display: block;
  }
  
  .cartes {
	  background: linear-gradient(#7A9CC6, #00000040);
	  border-radius: 20px;
	  box-shadow: 5px 5px 5px black;
	  margin-left: 70px;
	  width: 130px;
	  height: 130px;
	  margin-top: 25px;
	  cursor: pointer;
  }
  
  .game-img {
	  width: 130px;
	  border-radius: 15px;
	  height: 130px;
  }